SY.ContentHub.AzureFunctions/AzureTemplates/chordercloudsync.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Create_product_in_OrderCloud": {
        "inputs": {
          "body": "@body('RenderTemplate')",
          "headers": {
            "Authorization": "Bearer @{body('Parse_JSON')?['access_token']}",
            "Content-Type": "application/json"
          },
          "method": "POST",
          "uri": "https://sandboxapi.ordercloud.io/v1/products"
        },
        "runAfter": {
          "Parse_JSON": [
            "Succeeded"
          ]
        },
        "type": "Http"
      },
      "GetEntityData": {
        "inputs": {
          "body": "@triggerBody()",
          "function": {
            "id": "/subscriptions/9253b674-4dbe-45f2-b34b-f333fc9082f4/resourceGroups/Xcentium/providers/Microsoft.Web/sites/contenthubfunctions/functions/GetEntityData"
          },
          "headers": {
            "ClientId": "DevIntegration",
            "ClientSecret": "DevIntegration",
            "ContentHubUrl": "https://xc403.stylelabsdemo.com/",
            "EntityRelations": "PCMProductFamilyToProduct",
            "Password": "Integration1",
            "TargetEntityIdJsonPath": "$.TargetId",
            "UserName": "Integration"
          }
        },
        "runAfter": {},
        "type": "Function"
      },
      "Get_OrderCloud_Auth_token": {
        "inputs": {
          "body": "client_id=CF17C417-7E57-40CF-A13C-82A17204EAD9&grant_type=password&username=admin01&password=Welcome2020",
          "headers": {
            "Content-Type": "application/x-www-form-urlencoded"
          },
          "method": "POST",
          "uri": "https://sandboxapi.ordercloud.io/oauth/token"
        },
        "runAfter": {
          "RenderTemplate": [
            "Succeeded"
          ]
        },
        "type": "Http"
      },
      "Parse_JSON": {
        "inputs": {
          "content": "@body('Get_OrderCloud_Auth_token')",
          "schema": {
            "properties": {
              "access_token": {
                "type": "string"
              },
              "expires_in": {
                "type": "integer"
              },
              "refresh_token": {},
              "token_type": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "runAfter": {
          "Get_OrderCloud_Auth_token": [
            "Succeeded"
          ]
        },
        "type": "ParseJson"
      },
      "RenderTemplate": {
        "inputs": {
          "body": "@body('GetEntityData')",
          "function": {
            "id": "/subscriptions/9253b674-4dbe-45f2-b34b-f333fc9082f4/resourceGroups/Xcentium/providers/Microsoft.Web/sites/contenthubfunctions/functions/RenderTemplate"
          },
          "headers": {
            "Template": "{ \"DefaultPriceScheduleID\": \"\", \"ID\": \"{{$.Properties.Id}}\", \"Name\": \"{{$.Properties.ProductName}}\", \"Description\": \"{{$.Properties.ProductShortDescription}}\", \"QuantityMultiplier\": 1, \"ShipWeight\": 0, \"ShipHeight\": 0, \"ShipWidth\": 0, \"ShipLength\": 0, \"Active\": true, \"xp\": {}, \"ShipFromAddressID\": \"\", \"Inventory\": {   \"Enabled\": false,   \"NotificationPoint\": 0,   \"VariantLevelTracking\": false,   \"OrderCanExceed\": false,   \"QuantityAvailable\": 0 }, \"DefaultSupplierID\": \"\" }"
          }
        },
        "runAfter": {
          "GetEntityData": [
            "Succeeded"
          ]
        },
        "type": "Function"
      },
      "Response": {
        "inputs": {
          "body": "@body('Create_product_in_OrderCloud')",
          "statusCode": 200
        },
        "kind": "http",
        "runAfter": {
          "Create_product_in_OrderCloud": [
            "Succeeded"
          ]
        },
        "type": "Response"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {},
    "triggers": {
      "manual": {
        "inputs": {
          "schema": {
            "properties": {
              "EventType": {
                "type": "string"
              },
              "IsNew": {
                "type": "boolean"
              },
              "TargetDefinition": {
                "type": "string"
              },
              "TargetId": {
                "type": "integer"
              },
              "TimeStamp": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "kind": "Http",
        "type": "Request"
      }
    }
  },
  "parameters": {}
}